<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <!-- <header> -->
  <%- include('../partials/navbar'); %>
    <!-- </header> -->

    <div class="m-12 flex justify-center items-center text-white">
      <div
        class="p-10 flex flex-col justify-center items-center text-center rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50">
        <p class="text-4xl text-white">
          <%=prenom%>
            <%=nom%></br>
              <%=statut%></br>
                <%=email%>
        </p>
        <% if (!estAttribue) { %>
          <p class="my-5 text-red-200">Votre compte n'est pas encore validé,</br>veuillez attendre qu'un administrateur
            le valide.</p>
          <% } %>
            <button onClick="ouvrirPopupMail()"
              class="py-2 px-3 mt-10 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Modifier
              mon e-mail</button>
            <button onClick="ouvrirPopupMDP()"
              class="py-2 px-3 mt-2 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Modifier
              mon mot de passe</button>
            <% if (estAttribue && statut !="Administrateur" ) { %>
              <button onClick="ouvrirPopupCV()"
                class="py-2 px-3 mt-2 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Modifier
                mon CV</button>
              <button onClick="ouvrirPopupLM()"
                class="py-2 px-3 mt-2 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Modifier
                ma lettre de motivation</button>
              <button onClick="ouvrirPopupLinkedIn()"
                class="py-2 px-3 mt-2 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Modifier
                mon URL LinkedIn</button>
              <button onClick="ouvrirOffres()"
                class="py-2 px-3 mt-2 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Offres
                sauvgardés</button>
              <button onClick="ouvrirSoutenances()"
                class="py-2 px-3 mt-2 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Dates
                entretiens</button>
              <% } %>

                <button onClick="supprimerCompte()"
                  class="py-2 px-3 mt-10 bg-red-800 bg-opacity-50 hover:bg-opacity-70 text-white rounded-full transition duration-150">Supprimer
                  le compte</button>

                <% if (statut=="Administrateur" && comptes !="" ) { %>
                  <div id="compteAttribuer"
                    class="flex flex-wrap mt-10 p-6 text-white rounded shadow-2xl backdrop-blur-xl bg-black bg-opacity-20 border border-white border-opacity-50">
                    <% comptes.forEach((compte)=> { %>
                      <div
                        class="flex flex-col m-2 py-6 px-8 text-left text-white rounded shadow-2xl backdrop-blur-xl bg-black bg-opacity-20 border border-white border-opacity-50">
                        <h1>Prenom : <%=compte.prenom%>
                        </h1>
                        <h1>Nom : <%=compte.nom%>
                        </h1>
                        <h1>E-mail : <%=compte.email%>
                        </h1>
                        <h1>Statut : <%=compte.statut%>
                        </h1>
                        <h1>Date : <%= compte.date_inscription.toISOString().substring(0,10) %>
                        </h1>
                        <div id="<%=compte.email%>" class="mt-2 flex justify-evenly">
                          <button onclick="validerAttribution(this)"
                            class="py-1 px-2 bg-green-500 bg-opacity-50 hover:bg-opacity-70 text-white rounded transition duration-150">OK</button>
                          <button onclick="annulerAttribution(this)"
                            class="py-1 px-2 bg-red-500 bg-opacity-50 hover:bg-opacity-70 text-white rounded transition duration-150">ANNULER</button>
                        </div>
                      </div>
                      <% }); %>
                  </div>
                  <% } %>
      </div>
    </div>

    <!-- POPUP CHANGEMENT DE MAIL -->
    <div id="popupMail"
      class="px-16 pt-12 pb-8 absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4 flex flex-col text-center text-white rounded shadow-2xl backdrop-blur-xl bg-black bg-opacity-20 border border-white border-opacity-50"
      style="display: none">
      <form id="formMail" class="flex flex-col">
        <h1 class="text-4xl mb-8 whitespace-nowrap">Modifier mon d'e-mail</h1>

        <input type="email"
          class="mt-2 p-3 bg-black bg-opacity-10 rounded focus-within:bg-opacity-40 focus-within:outline-none"
          placeholder="mail@domain.net" id="email" required />

        <div class="mt-12 mb-8 flex justify-around">
          <button
            class="py-1 px-2 bg-green-500 bg-opacity-50 hover:bg-opacity-70 text-white rounded transition duration-150">Envoyer</button>
          <button type="button"
            class="py-1 px-2 bg-red-500 bg-opacity-50 hover:bg-opacity-70 text-white rounded transition duration-150"
            onclick="fermerPopup(this)">Quitter</button>
        </div>
        <span id="messageErreurMail" class="text-red-300 font-bold text-base text-center"></span>
      </form>
    </div>

    <!-- POPUP CHANGEMENT DE MDP -->
    <div id="popupMDP"
      class="px-16 pt-12 pb-8 absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4 flex flex-col text-center text-white rounded shadow-2xl backdrop-blur-xl bg-black bg-opacity-20 border border-white border-opacity-50"
      style="display: none">
      <form id="formMDP" class="flex flex-col">

        <h1 class="text-4xl mb-8 whitespace-nowrap">Modifier mon mot de passe</h1>

        <label for="ancienMDP" class="mt-2 self-start text-base">Ancien mot de passe</label>
        <input type="password" id="ancienMDP"
          class="mt-2 p-3 bg-black bg-opacity-10 rounded focus-within:bg-opacity-40 focus-within:outline-none"
          placeholder="Minimum 8 caractères" required min="8" />

        <label for="nouveauMDP" class="mt-6 self-start text-base">Nouveau mot de passe</label>
        <input type="password" id="nouveauMDP"
          class="mt-2 p-3 bg-black bg-opacity-10 rounded focus-within:bg-opacity-40 focus-within:outline-none"
          placeholder="Minimum 8 caractères" required min="8" />


        <div class="mt-12 mb-8 flex justify-around">
          <button
            class="py-1 px-2 bg-green-500 bg-opacity-50 hover:bg-opacity-70 text-white rounded transition duration-150">Envoyer</button>
          <button type="button"
            class="py-1 px-2 bg-red-500 bg-opacity-50 hover:bg-opacity-70 text-white rounded transition duration-150"
            onclick="fermerPopup(this)">Quitter</button>
        </div>
        <span id="messageErreurMDP" class="text-red-300 font-bold text-base text-center"></span>
      </form>
    </div>

    <!-- POPUP CHANGEMENT CV -->
    <div id="popupCV"
      class="px-16 pt-12 pb-8 absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4 flex flex-col text-center text-white rounded shadow-2xl backdrop-blur-xl bg-black bg-opacity-20 border border-white border-opacity-50"
      style="display: none">
      <form id="formCV" class="flex flex-col">
        <h1 class="text-4xl whitespace-nowrap">Modifier mon curriculum vitae</h1>

        <% if (statut=="CyberLog" || statut =="CyberData"){%>
          <div class="p-5 my-8 space-y-2 mx-32 flex flex-col justify-center items-center text-center rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50">
            <p>Mon CV : </p>
            <% if (cv) {%>
              <iframe src='/api/cvs/<%=cv.id_eleve%>/pdf'></iframe>
            <% } else { %>
              <p>Aucun CV</p>
            <% } %>
          </div>
          <% } %>
          
        <input class="self-center" type="file" name="fileUploadCV" value="fileUploadCV" id="fileUploadCV"
          accept="application/pdf" required>

        <div class="mt-12 mb-8 flex justify-around">
          <button
            class="py-1 px-2 bg-green-500 bg-opacity-50 hover:bg-opacity-70 text-white rounded transition duration-150">Envoyer</button>
          <button type="button"
            class="py-1 px-2 bg-red-500 bg-opacity-50 hover:bg-opacity-70 text-white rounded transition duration-150"
            onclick="fermerPopup(this)">Quitter</button>
        </div>
        <span id="messageErreurCV" class="text-red-300 font-bold text-base text-center"></span>
      </form>
    </div>

    <!-- POPUP UPLOAD LM -->
    <div id="popupLM"
      class="px-16 pt-12 pb-8 absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4 flex flex-col text-center text-white rounded shadow-2xl backdrop-blur-xl bg-black bg-opacity-20 border border-white border-opacity-50"
      style="display: none">
      <form id="formLM" class="flex flex-col">
        <h1 class="text-4xl whitespace-nowrap">Modifier ma lettre de motivation</h1>

        <% if (statut=="CyberLog" || statut =="CyberData"){%>
          <div class="p-5 my-8 mx-32 space-y-2 flex flex-col justify-center items-center text-center rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50">
            <p>Ma lettre de motivation : </p>
            <% if (motivation) {%>
              <iframe src='/api/motivation/<%=cv.id_eleve%>'></iframe>
            <% } else { %>
              <p>Aucune lettre de motivation</p>
            <% } %>
          </div>
          <% } %>

        <input class="self-center" type="file" name="fileUploadLM" value="fileUploadLM" id="fileUploadLM"
          accept="application/pdf" required>

        <div class="mt-12 mb-8 flex justify-around">
          <button
            class="py-1 px-2 bg-green-500 bg-opacity-50 hover:bg-opacity-70 text-white rounded transition duration-150">Envoyer</button>
          <button type="button"
            class="py-1 px-2 bg-red-500 bg-opacity-50 hover:bg-opacity-70 text-white rounded transition duration-150"
            onclick="fermerPopup(this)">Quitter</button>
        </div>
        <span id="messageErreurLM" class="text-red-300 font-bold text-base text-center"></span>
      </form>
    </div>


    <!-- POPUP CHANGEMENT DE LinkedIn -->
    <div id="popupLinkedIn"
      class="px-16 pt-12 pb-8 absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4 flex flex-col text-center text-white rounded shadow-2xl backdrop-blur-xl bg-black bg-opacity-20 border border-white border-opacity-50"
      style="display: none">
      <form id="formLinkedIn" class="flex flex-col">
        <h1 class="text-4xl mb-8 whitespace-nowrap">Modifier mon URL LinkedIn</h1>

        <input type="url"
          class="mt-2 p-3 bg-black bg-opacity-10 rounded focus-within:bg-opacity-40 focus-within:outline-none"
          placeholder="https://www.linkedin.com/in/utilisateur" id="textInputLinkedIn" required />

        <div class="mt-12 mb-8 flex justify-around">
          <button
            class="py-1 px-2 bg-green-500 bg-opacity-50 hover:bg-opacity-70 text-white rounded transition duration-150">Envoyer</button>
          <button type="button"
            class="py-1 px-2 bg-red-500 bg-opacity-50 hover:bg-opacity-70 text-white rounded transition duration-150"
            onclick="fermerPopup(this)">Quitter</button>
        </div>
        <span id="messageErreurLinkedIn" class="text-red-300 font-bold text-base text-center"></span>
      </form>
    </div>

    <!-- <footer> -->
    <%- include('../partials/footer'); %>
      <!-- </footer> -->

      <script src="/static/js/compte.js"></script>
</body>

</html>