<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <!-- <header> -->
    <%- include('../partials/navbar'); %>
    <!-- </header> -->

    <div class="m-12 flex justify-center items-center text-white">
      <div class="p-10 flex flex-col justify-center items-center text-center rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50">
        <p class="text-4xl text-white"><%=prenom%> <%=nom%></br><%=statut%></br><%=email%></p>
        <% if (!estAttribue) { %>
          <p class="my-5 text-red-200">Votre compte n'est pas encore validé,</br>veuillez attendre qu'un administrateur le valide.</p>
        <% } %>
        <button onClick="ouvrirFormEmail()" class="py-2 px-3 mt-10 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Modifier mon e-mail</button>
        <button onClick="ouvrirFormMotDePasse()" class="py-2 px-3 mt-2 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Modifier mon mot de passe</button>
        <% if (estAttribue && statut != "Administrateur") { %>
          <button onClick="ouvrirFormEmail()" class="py-2 px-3 mt-2 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Modifier CV</button>
          <button onClick="ouvrirLettreDeMotivation()" class="py-2 px-3 mt-2 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Modifier lettre de motivation</button>
          <button onClick="ouvrirOffres()" class="py-2 px-3 mt-2 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Offres sauvgardés</button>
          <button onClick="ouvrirSoutenances()" class="py-2 px-3 mt-2 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Dates entretiens</button>
        <% } %>  

        <button onClick="supprimerCompte()" class="py-2 px-3 mt-10 bg-red-800 bg-opacity-50 hover:bg-opacity-70 text-white rounded-full transition duration-150">Supprimer le compte</button>
        
        <% if (statut == "Administrateur" && comptes != "") { %>
          <div id="compteAttribuer" class="flex flex-wrap mt-10 p-6 text-white rounded shadow-2xl backdrop-blur-xl bg-black bg-opacity-20 border border-white border-opacity-50">
            <% comptes.forEach((compte) => { %>
              <div class="flex flex-col m-2 py-6 px-8 text-left text-white rounded shadow-2xl backdrop-blur-xl bg-black bg-opacity-20 border border-white border-opacity-50">
                <h1>Prenom : <%=compte.prenom%></h1> 
                <h1>Nom : <%=compte.nom%></h1> 
                <h1>Email : <%=compte.email%></h1> 
                <h1>Statut : <%=compte.statut%></h1> 
                <h1>Date : <%= compte.date_inscription.toISOString().substring(0,10) %></h1>
                <div id="<%=compte.email%>" class="mt-2 flex justify-evenly">
                  <button onclick="valider(this)" class="py-1 px-2 bg-green-500 bg-opacity-50 hover:bg-opacity-70 text-white rounded transition duration-150">OK</button>
                  <button onclick="annuler(this)" class="py-1 px-2 bg-red-500 bg-opacity-50 hover:bg-opacity-70 text-white rounded transition duration-150">ANNULER</button>
                </div>
              </div>
            <% }); %>
          </div>
        <% } %>

      </div>
    </div>

    <div class="bg-black bg-opacity-25 text-white" id="divMail"  style="display: none">
      <form id="formMail" class="">
        <h1>Changement de mail</h1>
    
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Saisir votre e-mail" id="email">

        <button type="submit" class="btn">Changer</button>
        <button type="button" class="btn cancel" onclick="fermerFormEmail()">Close</button>
      </form>
      
      <span id="messageErreurMail" class="mt-4 text-red-300 font-bold text-base text-center"></span>
    </div>

    <div class="bg-black bg-opacity-25 text-white" id="divMotDePasse" style="display: none">
      <form id="formMotDePasse" class="">
        <h1>Changement d'informations</h1>
        
        <label for="password"><b>Mot de passe</b></label>
        <input type="password" placeholder="Saisir votre mot de passe" id="password">

        <button type="submit" class="btn">Changer</button>
        <button type="button" class="btn cancel" onclick="fermerFormMotDePasse()">Close</button>
      </form>
      
      <span id="messageErreurMotDePasse" class="mt-4 text-red-300 font-bold text-base text-center"></span>
    </div>

    <!-- <footer> -->
        <%- include('../partials/footer'); %>
    <!-- </footer> -->

    <script src="/static/js/compte.js"></script>
  </body>
</html>