<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <!-- <header> -->
    <%- include('../partials/navbar'); %>
    <!-- </header> -->

    <div class="mt-32 flex justify-center items-center">
      <div class="py-10 px-10 text-center rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50">
        <p class="text-4xl text-white"><%=prenom%> <%=nom%></p>
      </br>
<<<<<<< HEAD
      <p> Mail : <%=email%> </p>
      <p>
        <button onClick="openFormEmail()" class="py-2 px-3 ml-2 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Modifier le mail</button>
      </p>
      </br>
      <p>
        <button onClick="openFormPwd()" class="py-2 px-3 ml-2 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Modifier le mot de passe</button>
      </p>
      </br>
      <p>
        <button onClick="" class="py-2 px-3 ml-2 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Modifier le CV</button>
      </p>
      <p>Offres sauvgardés</p>
      <p>Date soutenances</p>
        <button onClick="supprimer()" class="py-2 px-3 ml-2 bg-red-800 bg-opacity-50 hover:bg-opacity-70 text-white rounded-full transition duration-150">Supprimer le compte</button>
=======
        <div class=""
          <p> Mail : <%=email%> 
            <button onClick="ouvrirFormEmail()" class="py-2 px-3 ml-2 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Modifier le mail</button>
          </p>
        </div>
        <p>
          <button onClick="ouvrirFormMotDePasse()" class="py-2 px-3 ml-2 bg-gray-900 bg-opacity-30 hover:bg-opacity-70 text-white rounded-full transition duration-150">Modifier le mot de passe</button>
        </p>
        <p>CV</p>
        <p>Offres sauvgardés</p>
        <p>Date soutenances</p>
        <button onClick="supprimerCompte()" class="py-2 px-3 ml-2 bg-red-800 bg-opacity-50 hover:bg-opacity-70 text-white rounded-full transition duration-150">Supprimer le compte</button>
>>>>>>> 1a6434779ab22f3ac79d7b3aad305263074e975d
      </div>
    </div>



    <div class="bg-black bg-opacity-25 text-white" id="divMail"  style="display: none">
      <form id="formMail" class="">
        <h1>Changement de mail</h1>
    
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Saisir votre e-mail" id="email">

        <button type="submit" class="btn">Changer</button>
        <button type="button" class="btn cancel" onclick="fermerFormEmail()">Close</button>
      </form>
      
      <span id="messageErreurMail" class="mt-4 text-red-300 font-bold text-base text-center"></span>
    </div>

    <div class="bg-black bg-opacity-25 text-white" id="divMotDePasse" style="display: none">
      <form id="formMotDePasse" class="">
        <h1>Changement d'informations</h1>
        
        <label for="password"><b>Mot de passe</b></label>
        <input type="password" placeholder="Saisir votre mot de passe" id="password">

        <button type="submit" class="btn">Changer</button>
        <button type="button" class="btn cancel" onclick="fermerFormMotDePasse()">Close</button>
      </form>
      
      <span id="messageErreurMotDePasse" class="mt-4 text-red-300 font-bold text-base text-center"></span>
    </div>

    <!-- <footer> -->
        <%- include('../partials/footer'); %>
    <!-- </footer> -->

    <script src="/static/js/compte.js"></script>
  </body>
</html>
