<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <!-- <header> -->
    <%- include('../partials/navbar'); %>
    <!-- </header> -->

    <div class="mt-32 flex justify-center items-center">
      <div class="py-10 px-10 text-center rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50">
        <p class="text-4xl text-white">Page CVTHÈQUE</p>
            <form id="form" class="flex flex-col py-8 px-8 text-left text-white rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50" enctype="multipart/form-data">
              <input type="file" name="fileupload" value="fileupload" id="fileupload">
              <input  type="submit" id="submitButtonId" name="submit">
            </form>
      </div>
    </div>


      <h1><%= username %></h1>
      <img src='/profile/<%= userid %>/picture' />

   <!-- <% cvs.forEach(function(cv) { %>
      <script>
        const binaire = document.createElement('div');
        const id_eleve = document.createElement('div');
        id_eleve.innerText = '<%=cv.id_eleve%>'
        console.log(id_eleve.innerText);
      </script>
      <iframe src='<%=cv.binaire%>' width="100%" height="500px"></iframe>
    <% }); %>-->


    <!-- <script src="/static/js/cvtheque.js" type="module"></script> -->

    <!-- <footer> -->
    <%- include('../partials/footer'); %>
    <!--</footer> -->
  </body>
</html>
