<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <!-- <header> -->
    <%- include('../partials/navbar'); %>
    <!-- </header> -->

    <div class="mt-32 flex justify-center items-center">
      <div class="py-10 px-10 text-center rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50">
        <p class="text-4xl text-white">PAGE OFFRES</p>
        <form id="form" class="flex flex-col py-8 px-8 text-left text-white rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50" enctype="multipart/form-data">

          <label for="nom_entreprise">Nom entreprise : </label>
          <input type="text" id="nom_entreprise" name="nom_entreprise"><br>

          <label for="nom_poste">Nom poste : </label>
          <input type="text" id="nom_poste" name="nom_poste" value="poste"><br>          

          <input type="radio" id="checkBoxCyberData" name="drone" value="CyberData" checked>
          <label for="huey">CyberData</label>

          <input type="radio" id="checkBoxCyberLog" name="drone" value="CyberLog">
          <label for="huey">CyberLog</label><br>

          <input type="file" name="fileupload" value="fileupload" id="fileupload"><br>

          <input  type="submit" id="submitButtonId" name="submit">

        </form>
      </div>
    </div>

    <% offres.forEach(function(offre) { %>
      <h1><%=offre.id_entreprise %></h1>
      <!--<iframe src='/api/offres/<%=offre.id_entreprise%>/pdf' width="13%"> -->     
    <% }); %>

    <script src="/static/js/offres.js" type="module"></script>

    <!-- <footer> -->
    <%- include('../partials/footer'); %>
    <!--</footer> -->
  </body>
</html>
