<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="static/fullcalendar/main.css">
    <script src="static/fullcalendar/main.js"></script>
  </head>

  <body>
    <!-- <header> -->
    <%- include('../partials/navbar'); %>
    <!-- </header> -->

    <div class="mt-32 flex justify-center items-center">
      <div class="py-10 px-10 text-center rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50">
        <p class="text-4xl text-white">PAGE SOUTENANCES</p>
        <form id="form" class="flex flex-col py-8 px-8 text-left text-white rounded shadow-2xl backdrop-blur-lg backdrop-saturate-125 bg-black bg-opacity-20 border border-white border-opacity-50" enctype="multipart/form-data">
          <!-- Start Date -->
          <input type="date" id="date_soutenances" name="date_soutenances"
           value="2021-11-13"
           min="2018-01-01" max="2030-12-31">

          <select name="lieux" id="lieux-select">
            <option value="">Choisissez un lieu pour la soutenance--</option>
            
            <% lieux.forEach(function(lieu) { %>
              <option value="<%=lieu.nom %>"><%=lieu.nom %></option>
            <% }); %>

          </select>

          <input type="time" id="hour_input" name="appt" min="08:00" max="18:00" required>

          <label for="confidentiel_checkbox">Soutenance onfidentiel </label>
          <input type="checkbox" id="confidentiel_checkbox" name="confidentiel_checkbox"><br>

          <input  type="submit" id="submitButtonId" name="submit">
        </form>
      </div>
      <div id="calendrier"></div>

    </div>


    <script src="/static/js/soutenances.js" type="module"></script>


    <!-- <footer> -->
    <%- include('../partials/footer'); %>
    <!--</footer> -->
  </body>
</html>
